<div class="container mt-5"> 
<table class="table">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
        <th></th>
        <th></th>
        <tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td><button class="btn btn-info" [routerLink]="['employee/view',employee.id]">View</button></td>
            <td><button class="btn btn-warning" [routerLink]="['employee/edit',employee.id]">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(employee.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>